<%= form_for [:dashboard, @trip_log] do |f| %>
  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, placeholder: "Enter A Trip Name"%>
  </div>
  <div class="form-group">
    <%= f.label :miles%>
    <%= f.number_field :miles%>
  </div>
  <div class="form-group">
    <%= f.label 'Description'%>
    <%= f.text_area(:description, placeholder: "Enter your trip description here.", size: "10x6") %>
  </div>
  <div class="submit-button">
    <%= f.submit "Create Trip Log" %>
  </div>
<% end %>
