<div id="mapid"></div>

<script>
  var mymap = L.map('mapid').setView([<%= @ev_search_lat %>, <%= @ev_search_lon %>], 13);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 20,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoibWFyeWFncmFjZSIsImEiOiJjanM0eG9qMmIwOXlhNDVuaTNuOXMzcXd1In0.Y3D7BRb8btkvg5JV_6PZaQ'
}).addTo(mymap);

  var elecIcon = L.icon ({
    iconUrl: 'e-v.png',

    iconSize: [30, 30],
    iconAnchor: [22, 94],
    popupAnchor:  [-3, -76],
  });
  <% @ev_stations.each do |ev| %>
  var marker = L.marker([<%= ev.lat %>, <%= ev.lon %>], {icon: elecIcon}).addTo(mymap);
  marker.bindPopup("<b><%= ev.name %></b><br><%= ev.hours %><br><%= ev.street_address %><br><%= ev.city %>").openPopup();
  <% end %>
</script>
