<div class="col"
  <h1 class="name" id="name-banner"> <%= @user.first_name %>'s Dashboard </h1>
</div>
<div>
<%= link_to 'Create a Trip Log', new_dashboard_trip_log_path, class: "btn btn-primary"%>
</div>

<div class="recent_destinations" id="recent">
  <h2>Most Recent Destinations:</h2>
  <%= user.list_last_ten %>
</div>

  <h3 id="stats">Your Stats</h3>
  <table class="stats">
  <tr>
    <td>Average Trip Length</td>
    <td><%= @user.average_trip %> miles</td>
  </tr>
  <tr>
    <td>Average Carbon Saved</td>
    <td><%= @user.average_carbon %> kgs</td>
  </tr>
  <tr>
    <td>Total Trip Mileage</td>
    <td><%= @user.total_trip %> miles</td>
  </tr>
  <tr>
    <td>Total Carbon Saved</td>
    <td><%= @user.total_carbon %> kgs</td>
  </tr>
</table>
