<h1>List of All Users</h1>

<div class="User-List">
  <% @users.each do |user| %>
    <div id="user-<%= user.id %>">
      <h2>Name: <%= user.first_name %>, <%= user.last_name %></h2>
      <h2>Email: <%= user.email %></h2>
      <h2>Current Privileges:<%= user.role %></h2>
      <h2>User Current Status:<%= user.status %></h2>
      <% if user.status %>
        <h4><%= button_to "Disable this User", admin_user_path(user.id), method: :patch %></h4>
      <% else %>
        <h4><%= button_to "Enable this User", admin_user_path(user.id), method: :patch %></h4>
      <% end %>
    </div>
  <% end %>
</div>
